
.card {
    margin-top: 30px;
    padding: 30px;
    font-size: 1.1em;
}

.card-body,
.card-text
.price {
    text-align: center;

}

.card-img-top {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}